/* The Modal (background) */
.modal, .modal-page-2 {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5);
}

.modal-page-2 {
  display: none;
}

.modal-content {
  position: relative;
  min-width: 650px;
  max-width: 720px;
  background-color: #FFFFFF;
  top: 20vh;
  margin: 0 auto;
  padding: 30px 20px;
  border: 1px solid #959595;
  border-radius: 30px;
  width: 70%;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
}

.next, .prev {
  position: absolute;
  top: 45%;
  font-size: 36px;
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}

.close, .next, .prev {
  color: #959595;
  font-weight: bold;
}

.close:hover, .close:focus, .next:hover, .next:focus, .prev:hover, .prev:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}